.dashboard-container-vertical-spacing {
  background-color: #ebeff7;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 1rem;
}
.dashboard-container {
  padding: 0 1rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
.system-process-card {
  width: 100%;
  border-radius: 30px;
  padding: 1rem;
  background-color: #eef1f5;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.034), 0 7px 5px rgba(0, 0, 0, 0.048);
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
}
.system-process-header {
  font-size: 1.5rem;
}
.system-process-graph {
  text-align: center;
}
.card-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.card-footer-button {
  border-radius: 5px;
  padding: 0.4rem 1rem;
  text-decoration: underline;
  /* background-color: #fff; */
  /* border: 2px solid #0007; */
  cursor: pointer;
}
.color-red {
  color: rgb(238, 59, 59);
}
.color-green {
  color: rgb(21, 184, 0);
}

@media screen and (min-width: 800px) {
  .dashboard-container {
    gap: 2rem;
    padding: 0 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
